<div class="page">
  <div class="content-padded">
    <div id="chatbox" class="messages">
      {{#each model as |message|}}
        <div class="row">
          <div class="col-sm-1">
            {{message.id}}
          </div>
          <div class="col-sm-10">
            {{message.body}}
          </div>
          <div class="col-sm-1">
            {{moment-format message.createdAt "HH:mm:ss"}}
          </div>
        </div>
      {{/each}}
    </div>
    <div class="form-control">
      <fieldset>
        {{input placeholder="New Message" value=newMessage class="form-control" id="newMessageInput"}}
      </fieldset>
      <br/>
      <button type="submit" class="btn btn-success" {{action 'sendMessage' newMessage}}>Send Message</button>
    </div>
  </div>
</div>
<div class="footer">
</div>
